<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="nlog.txt" internalLogLevel="Error">
		<targets>
			<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger:shortname=true:padding=-25:fixedlength=true}|${message}|${exception:format=toString}">
				<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
				<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
				<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
				<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
				<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			</target>
			<target name="asyncFile" xsi:type="AsyncWrapper">
				<target name="file" xsi:type="File" fileName="logs\log.txt" />
			</target>
		</targets>
		<rules>
			<logger name="*" writeTo="asyncFile" minlevel="Debug" />
			<logger name="*" writeTo="coloredConsole" minlevel="Debug" />
		</rules>
	</nlog>

	<!--<system.net>
		<defaultProxy>
			<proxy proxyaddress="http://localhost:8888"
			        bypassonlocal="false" />
		</defaultProxy>
	</system.net>-->

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
</configuration>